[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"

[dev-packages]
pylint = "*"
pycodestyle = "*"
autopep8 = "*"
flake8 = "*"
black = "*"
mypy = "*"
isort = "*"
types-pyyaml = "*"

[requires]
python_version = "3.9"
